stepfunction.yml
# ./stepfunction.yml
#
# StepFunction workflow definition file.
# Included in `serverless.yml`, look there for variables definitions

Comment: "Community sign-up workflow"
StartAt: RecordDB
States:
  RecordDB:
    Type: Task
    Resource: arn:aws:lambda:${self:custom.region}:${self:custom.private.accountId}:function:${self:service}-dev-RecordDB
    Next: RecordAC
    ResultPath: $.results.RecordDB
  RecordAC:
    Type: Task
    Resource: arn:aws:lambda:${self:custom.region}:${self:custom.private.accountId}:function:${self:service}-dev-RecordAC
    Next: InviteSlack
    ResultPath: $.results.RecordAC
  InviteSlack:
    Type: Task
    Resource: arn:aws:lambda:${self:custom.region}:${self:custom.private.accountId}:function:${self:service}-${self:custom.stage}-InviteSlack
    ResultPath: $.results.InviteSlack
    End: true
